# 🔥 Dependencias
node_modules/

# 🔥 Next.js
.next/
out/

# 🔥 Build
build/
dist/

# 🔐 Variables de entorno (MUY IMPORTANTE)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 🧪 Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 🖥️ Sistema
.DS_Store
Thumbs.db

# 🚀 Vercel
.vercel

# 📦 Archivos comprimidos
*.zip

# 🧾 Tipos TS build
*.tsbuildinfo

# 🧹 Cache
.cache/